version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: rag_db
    restart: always
    environment:
      POSTGRES_USER: rag_user
      POSTGRES_PASSWORD: rag_password
      POSTGRES_DB: rag_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rag_user -d rag_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: rag_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
  
  chroma:
    image: chromadb/chroma
    container_name: rag_chroma
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chromadb/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
      
    
volumes:
  postgres_data:
  redis_data:
  chroma_data:
  portainer_data: